[package]
name = "orders"
version = "0.1.0"
authors = ["kevin <kevin.janada@gmail.com>"]
edition = "2018"
description = ''
homepage = ''
license = 'Unlicense'
repository = ''

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

# alias "parity-scale-code" to "codec"
[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies]
frame-support = { default-features = false, version = '3.0.0' }
frame-system = { default-features = false, version = '3.0.0' }
pallet-timestamp = { default-features = false, version = '3.0.0' }
sp-std = { default-features = false, version = '3.0.0' }
services = { path = '../services', default-features = false }
escrow = { path = '../escrow', default-features = false }
#escrow-controller = { path = '../../traits/escrow-controller', default-features = false }
specimen = { path = '../specimen', default-features = false }
chrono = { default-features = false, version = '0.4' }

[dev-dependencies]
serde = { version = "1.0.119" }
sp-core = { default-features = false, version = '3.0.0' }
sp-io = { default-features = false, version = '3.0.0' }
sp-runtime = { default-features = false, version = '3.0.0' }

[features]
default = ['std']
std = [
    'codec/std',
    'frame-support/std',
    'frame-system/std',
    'sp-std/std',
    'sp-core/std',
    'pallet-timestamp/std',
    'services/std',
    'escrow/std',
    'specimen/std',
    'chrono/std',
]
